html, body {
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

.navbar {
	background-color: black;
}

.logo {
	height: 40px;
	width: 45px;
	margin-left: 15px;
	border-radius: 10px;
}

.main {
	position: relative;
}

/*ALL SECTIONS*/
.main .section {
	height: 100vh;
	overflow: hidden;
}

@media (max-width: 1024px) {
	.main .section {
		height: auto;
	}

	/*.main .footer {
		height: auto;
	}*/
}

@media (max-width: 768px) {
	.main .section {
		height: auto;
	}

	/*.main .footer {
		height: auto;
	}*/
}

.main .footer {
	background-color: black;
	/*height: 30vh;*/
	overflow-y: hidden;
}

.fas {
	/*margin-right: 20px;*/
	color: white;
}

/*SECTION 1*/
.main #home {	
	background: url(../images/home_bg.gif);
	height: 100vh;
}

.intro {
	margin-top: 150px;
	background-color: black;
}

.word {
	color: white;
}

.zoom1 {
  border-radius: 50px;
  color: green;
  font-size: 3px;
  background-color: green;
  transition: transform .4s;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  padding-top: 50px;
  margin-top: 100px;
}
.zoom1:hover {
  transform: scale(7);
  background: url(../images/skills.jpg);
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: center;
  font-weight: bold;
  margin: 0 auto; 
  padding-top: 40px;
  margin-left: 142px;
}

.zoom2 {
  border-radius: 50px;
  color: white;
  font-size: 3px;
  background-color: white;
  transition: transform .4s;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  padding-top: 20px;
  margin-top: 100px;
}
.zoom2:hover {
  transform: scale(7);
  background: url(../images/profile_pic.jpg);
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: center;
  font-weight: bold;
  margin: 0 auto; 
  padding-top: 40px;
}

.zoom3 {
  border-radius: 50px;
  color: green;
  font-size: 3px;
  background-color: red;
  transition: transform .4s;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  padding-top: 50px;
  margin-top: 100px;
}
.zoom3:hover {
 transform: scale(7);
  background: url(../images/office.jpg);
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: center;
  font-weight: bold;
  margin: 0 auto; 
  padding-top: 40px;
  margin-right: 142px;
 
}

/*SECTION 2*/
.main #about-me {	
	position: relative;
	width: 100%
	height: 100vh;
	color: black;
	text-align: justify;
	text-shadow: 0 0 10px white;
}

.main #about-me::before {
	content: "";	
	background: url(../images/workstation.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	object-fit: cover;
	opacity: .50;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

.about {
	position: relative;
	margin-top: 150px;
	text-align: left;
	width: 100%
	height: 100vh;
	color: black;
	text-shadow: 0 0 10px white; 
}

.about_img {
	position: relative;
	margin-top: 120px;
	width: 290px;
	height: 500px;
}

.main #projects {	
	background-color: black;
}

.description {
	transition: transform .3s;
	background-size: cover;
	color: transparent;
	width: 350px;
	height: 350px;	
}

.description:active {
	transform: rotateY(180deg);
	background-size: cover;
	color: white;
	padding: 30px;
	width: 300px;
	height: 300px;
	font-size: 10px;
}

.image1 {
	background: url(../images/flyn8.jpg);
	background-size: cover;
	width: 300px;
	height: 300px;
	margin-top: 10px;
	border-radius: 20px;
 	transition: transform .3s;
}

.image1:active {
	background: none;
	background-color: black;
  	transform: rotateY(180deg);
}

.image2 {
	background: url(../images/frame.jpg);
	background-size: cover;
	width: 300px;
	height: 300px;
	margin-top: 10px;
	border-radius: 20px;
 	transition: transform .3s;
}

.image2:active {
	background: none;
	background-color: black;
  	transform: rotateY(180deg);
}

.image3 {
	background: url(../images/roadtrip.jpg);
	background-size: cover;
	width: 300px;
	height: 300px;
	margin-top: 10px;
	border-radius: 20px;
 	transition: transform .3s;
}

.image3:active {
	background: none;
	background-color: black;
  	transform: rotateY(180deg);
}

.capstone {
	float: left;
}

.main #skills {	
	background: url(../images/laptop.jpg);
	background-size: cover;
	background-attachment: fixed;
}

.header {
	margin-top: 100px;
	text-shadow: 0 0 5px black;

}

.card {
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 10px;
	background-color: black;
	opacity: .50;
	border-color: transparent;
	text-shadow: 0 0 5px black;
	float: left;
}

.strong	{
	font-size: 17px;
}

.modal-content {
	background-color: skyblue;
	color: black;
}